<!DOCTYPE html>
<html>
  <head>
    <title>Zerone TAP demo</title>
  </head>
  <body>
    <!--
      <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="https://paketo.io/images/paketo-logo-full-color.png"></img>
    -->
  <div class>
    <img style="width: 10%;" src="/static/zerone-1.png" />
    <h2>TAP python Demo</h2>
  </div>
  <style>
    .myDiv {
      background-color: LightGrey;
      width: 30%
    }
    </style>
    </head>
  <div class="myDiv">
    <p>demo 001</p>
    <p>demo 002</p>
  </div>
  <p style="width: 20%"> 
  零壹科技股份有限公司<BR>
  地址： 台北市內湖路一段360巷8號10樓</BR>
  電話： (02)2656-5656
  </p>
  </body>
</html>
